<?xml version="1.0"?>
<config>
	<modules>
		<Borderfree_Localization>
			<version>1.0.9</version>
		</Borderfree_Localization>
	</modules>

	<global>

		<helpers>
			<borderfreelocalization>
				<class>Borderfree_Localization_Helper</class>
			</borderfreelocalization>
			<wishlist>
				<rewrite>
					<data>Borderfree_Localization_Helper_Wishlist</data>
				</rewrite>
			</wishlist>
		</helpers>

		<blocks>
			<borderfreelocalization>
				<class>Borderfree_Localization_Block</class>
			</borderfreelocalization>
		</blocks>

		<models>
			<borderfreelocalization>
				<class>Borderfree_Localization_Model</class>
				<resourceModel>borderfreelocalization_mysql4</resourceModel>
			</borderfreelocalization>
			<borderfreelocalization_mysql4>
				<class>Borderfree_Localization_Model_Mysql4</class>
				<entities>
					<cache>
						<table>borderfree_localization_cache</table>
					</cache>
					<ip>
						<table>borderfree_localization_ip</table>
					</ip>
					<fxrate>
						<table>borderfree_fx_rates</table>
					</fxrate>
					<country>
						<table>borderfree_countries</table>
					</country>
					<region>
						<table>borderfree_regions</table>
					</region>
					<currency>
						<table>borderfree_currency</table>
					</currency>
					<payment>
						<table>borderfree_payment</table>
					</payment>
					<lcp>
						<table>borderfree_lcp_rules</table>
					</lcp>
					<rounding>
						<table>borderfree_rounding_rules</table>
					</rounding>
				</entities>
			</borderfreelocalization_mysql4>
			<directory>
				<rewrite>
					<currency>Borderfree_Localization_Model_Convert</currency>
				</rewrite>
			</directory>
			<tax>
				<rewrite>
					<calculation>Borderfree_Localization_Model_Tax</calculation>
				</rewrite>
			</tax>
			<salesrule>
				<rewrite>
					<quote_discount>Borderfree_Localization_Model_Discount</quote_discount>
				</rewrite>
			</salesrule>
			<core>
				<rewrite>
					<store>Borderfree_Localization_Model_Store</store>
				</rewrite>
			</core>
		</models>

		<resources>
			<borderfreelocalization_write>
				<connection>
					<use>core_write</use>
				</connection>
			</borderfreelocalization_write>
			<borderfreelocalization_read>
				<connection>
					<use>core_read</use>
				</connection>
			</borderfreelocalization_read>
			<borderfreelocalization_setup>
				<setup>
					<module>Borderfree_Localization</module>
					<class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</borderfreelocalization_setup>
		</resources>
	</global>

	<frontend>

		<layout>
			<updates>
				<borderfreelocalization>
					<file>borderfreelocalization.xml</file>
				</borderfreelocalization>
			</updates>
		</layout>

		<events>
			<controller_action_predispatch>
				<observers>
					<fiftonelocalization>
						<class>borderfreelocalization/observer</class>
						<method>preDispatch</method>
					</fiftonelocalization>
				</observers>
			</controller_action_predispatch>
			<controller_action_layout_load_before>
				<observers>
					<fiftonelocalization>
						<class>borderfreelocalization/observer</class>
						<method>updateLayout</method>
					</fiftonelocalization>
				</observers>
			</controller_action_layout_load_before>
            <catalog_category_tree_init_inactive_category_ids>
                <observers>
                    <borderfreelocalization>
                        <class>borderfreelocalization/observer</class>
                        <method>applyCategoryInactiveIds</method>
                    </borderfreelocalization>
                </observers>
            </catalog_category_tree_init_inactive_category_ids>
            <catalog_controller_category_init_after>
                <observers>
                    <borderfreelocalization>
                        <class>borderfreelocalization/observer</class>
                        <method>applyCategoryPermission</method>
                    </borderfreelocalization>
                </observers>
            </catalog_controller_category_init_after>
            <catalog_category_collection_add_is_active_filter>
                <observers>
                    <borderfreelocalization>
                        <class>borderfreelocalization/observer</class>
                        <method>applyCategoryPermissionOnIsActiveFilterToCollection</method>
                    </borderfreelocalization>
                </observers>
            </catalog_category_collection_add_is_active_filter>
            <controller_action_predispatch_checkout_cart_index>
                <observers>
                    <borderfreelocalization>
                        <class>borderfreelocalization/observer</class>
                        <method>removeShippingMethod</method>
                    </borderfreelocalization>
                </observers>
            </controller_action_predispatch_checkout_cart_index>
            <catalog_product_collection_apply_limitations_after>
                <observers>
                    <borderfreelocalization>
                        <class>borderfreelocalization/observer</class>
                        <method>applyProductPermissionOnCollection</method>
                    </borderfreelocalization>
                </observers>
            </catalog_product_collection_apply_limitations_after>


<!-- 
            <catalog_product_collection_before_add_count_to_categories>
                <observers>
                    <enterprise_catalogpermissions>
                        <class>enterprise_catalogpermissions/observer</class>
                        <method>applyCategoryPermissionOnProductCount</method>
                    </enterprise_catalogpermissions>
                </observers>
            </catalog_product_collection_before_add_count_to_categories>
            <catalog_product_is_salable_after>
                <observers>
                    <enterprise_catalogpermissions>
                        <class>enterprise_catalogpermissions/observer</class>
                        <method>applyIsSalableToProduct</method>
                    </enterprise_catalogpermissions>
                </observers>
            </catalog_product_is_salable_after>
            <catalog_product_collection_load_after>
                <observers>
                    <enterprise_catalogpermissions>
                        <class>enterprise_catalogpermissions/observer</class>
                        <method>applyProductPermissionOnCollectionAfterLoad</method>
                    </enterprise_catalogpermissions>
                </observers>
            </catalog_product_collection_load_after>
            <catalog_controller_product_init_after>
                <observers>
                    <enterprise_catalogpermissions>
                        <class>enterprise_catalogpermissions/observer</class>
                        <method>applyProductPermission</method>
                    </enterprise_catalogpermissions>
                </observers>
            </catalog_controller_product_init_after>
            <review_controller_product_init_after>
                <observers>
                    <enterprise_catalogpermissions>
                        <class>enterprise_catalogpermissions/observer</class>
                        <method>applyProductPermission</method>
                    </enterprise_catalogpermissions>
                </observers>
            </review_controller_product_init_after>
            <checkout_cart_product_add_after>
                <observers>
                    <enterprise_catalogpermissions>
                        <class>enterprise_catalogpermissions/observer</class>
                        <method>checkQuoteItemSetProduct</method>
                    </enterprise_catalogpermissions>
                </observers>
            </checkout_cart_product_add_after>
            <checkout_cart_save_before>
                <observers>
                    <enterprise_catalogpermissions>
                        <class>enterprise_catalogpermissions/observer</class>
                        <method>checkQuotePermissions</method>
                    </enterprise_catalogpermissions>
                </observers>
            </checkout_cart_save_before>
            <controller_action_predispatch_catalogsearch>
                <observers>
                    <enterprise_catalogpermissions>
                        <class>enterprise_catalogpermissions/observer</class>
                        <method>checkCatalogSearchPreDispatch</method>
                    </enterprise_catalogpermissions>
                </observers>
            </controller_action_predispatch_catalogsearch>
            <controller_action_layout_load_before>
                <observers>
                    <enterprise_catalogpermissions>
                        <class>enterprise_catalogpermissions/observer</class>
                        <method>checkCatalogSearchLayout</method>
                    </enterprise_catalogpermissions>
                </observers>
            </controller_action_layout_load_before>
 -->

		</events>

		<routers>
			<borderfreelocalization>
				<use>standard</use>
				<args>
					<module>Borderfree_Localization</module>
					<frontName>borderfreelocalization</frontName>
				</args>
			</borderfreelocalization>
		</routers>
		<category>
			<collection>
				<attributes>
					<borderfree_restricted />
					<category_country_restrictions />
				</attributes>
			</collection>
		</category>
	</frontend>
</config>

