<?xml version="1.0"?>
<config>
  <modules>
    <Borderfree_Crontab>
       <version>1.0.1</version>
    </Borderfree_Crontab>
  </modules>

<!--  
*     *     *   *    *        command to be executed
|     |     |   |    |
|     |     |   |    + day of week (0 - 6) (Sunday=0)
|     |     |   + month (1 - 12)
|     |     + day of        month (1 - 31)
|     + hour (0 - 23)
+ min (0 - 59)
The value column can have a * or a list of elements separated by commas (0,10,20,30,40,50)
Repeat pattern like */2 for every 2 minutes or */10 for every 10 minutes
The specification of days can be made in two fields: month day and weekday. 
If both are specified in an entry, they are cumulative meaning both of the entries will get executed .
-->
  <crontab>
        <jobs>
            <borderfree_export_full_catalog>
                <schedule><cron_expr>0 3 * * *</cron_expr></schedule>
                <run><model>borderfreecatalog/export::fullExport</model></run>
            </borderfree_export_full_catalog>
            <borderfree_export_incremental_catalog>
                <schedule><cron_expr>0 3 * * *</cron_expr></schedule>
                <run><model>borderfreecatalog/export::incrementalExport</model></run>
            </borderfree_export_incremental_catalog>
            <borderfree_export_resume_catalog>
                <schedule><cron_expr>*/15 * * * *</cron_expr></schedule>
                <run><model>borderfreecatalog/export::resumeExport</model></run>
            </borderfree_export_resume_catalog>
            <borderfree_import_error_logs>
                <schedule><cron_expr>*/15 * * * *</cron_expr></schedule>
                <run><model>borderfreecatalog/export::getErrorLogs</model></run>
            </borderfree_import_error_logs>
            <borderfree_localization_cache>
                <schedule><cron_expr>* */1 * * *</cron_expr></schedule>
                <run><model>borderfreelocalization/import::import</model></run>
            </borderfree_localization_cache>
            <borderfree_order_import>
                <schedule><cron_expr>*/30 * * * *</cron_expr></schedule>
                <run><model>borderfreeorder/import::import</model></run>
            </borderfree_order_import>
        </jobs>
  </crontab>
  
  <global>
    
  	<blocks>
	    <borderfreecrontab>
	        <class>Borderfree_Crontab_Block</class>
        </borderfreecrontab>
    </blocks>
    
	<helpers>
		<borderfreecrontab>
           	<class>Borderfree_Crontab_Helper</class>
        </borderfreecrontab>
	</helpers>
 
 		<models>
			<borderfreecrontab>
				<class>Borderfree_Crontab_Model</class>
				<resourceModel>borderfreecrontab_mysql4</resourceModel>
			</borderfreecrontab>
			<borderfreecrontab_mysql4>
				<class>Borderfree_Crontab_Model_Mysql4</class>
				<entities>
					<log>
						<table>borderfree_cronjob_log</table>
					</log>
				</entities>
			</borderfreecrontab_mysql4>
		</models>

		<resources>
			<borderfreecrontab_write>
				<connection>
					<use>core_write</use>
				</connection>
			</borderfreecrontab_write>
			<borderfreecrontab_read>
				<connection>
					<use>core_read</use>
				</connection>
			</borderfreecrontab_read>
			<borderfreecrontab_setup>
				<setup>
					<module>Borderfree_Crontab</module>
					<class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</borderfreecrontab_setup>
		</resources>
        
  </global>
  <admin>
	  <routers>
	      <adminhtml>
	          <args>
	              <modules>
	                  <Borderfree_Crontab before="Mage_Adminhtml">Borderfree_Crontab_Adminhtml</Borderfree_Crontab>
                  </modules>
              </args>
          </adminhtml>
      </routers>
 </admin>
 <adminhtml>
 	<layout>
	    <updates>
 	       <borderfreecrontab>
 	          <file>borderfreecrontab.xml</file>
           </borderfreecrontab>
        </updates>
    </layout>
 </adminhtml>

</config>

